/* Custom CSS */

body {
    background-image: url(../images/rey.jpg);
    background-color: #040404;
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-attachment: fixed;
}



h1, h2, h3, h4, h5, h6 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

p, ul ol, li {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #eeeeee;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #DA3B34;
    margin: 0 0 40px 0;
}

/* Logo */
.logo-row {
    text-align: center;
}

.logo {
width: 70%;
}

.question {
    display: block;
    width: 70%;
    margin: 0 auto;

}

.questionMaster {
    text-align: center;
}

.timer {
    color: #DA3B34;
    font-size: 3em;
}

.timerRemainingText {
    color: #ffffff;
    font-size: 3em;
}

.Q {
    margin-top: 50px;
}

.correct {
    text-align: center;
    color: lime;
    font-size: 10em;
}

.wrong {
    text-align: center;
    color: red;
    font-size: 10em;
}

p button {
    text-align: center;
}

button.answerButton {
    text-align: center;
    background-color: #111111;
    font-size: 2em;
    width: 100%;
    margin: 0 0 15px 0;
    color: #ffffff;
}

button.answerButton:hover {
    color: #111111;
    background-color: #DA3B34;
}

.answers {
}

button#startButton {
    background-color: #eeeeee;
    color: #222222;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 10px 25px 10px 25px;

}

button#startButton:hover {
    background-color: lime;
    color: #040404;
}

.pTimer {
    text-align: center;
}
/*

<input type="radio" value="A" />
<input type="radio" value="B" />
<input type="radio" value="C" />
<input type="radio" value="D" />

*/